<h1 class="text-center mt-4"><%= @article.title %></h1>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
            <div class="card text-center shadow mb-5 bg-white rounded">
                <div class="card-header">
                    <%= link_to @article.user.username, @article.user, class: "text-decoration-none text-dark" %>
                    <%= link_to avatar_for(@article.user, size: "75x75"), @article.user, class: "me-4" %>
                    <% if @article.categories.any? %>
                        <div><%= render @article.categories %></div>
                    <% end %>
                </div>
                <div class="card-body">
                    <div class="card-text text-start mt-3"><%= simple_format(@article.description) %></div>
                    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
                        <%= link_to "Edit", edit_article_path(@article), class: "btn btn-info" %>
                        <%= link_to "Delete", article_path(@article), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you would like to delete this article?" }, class: "btn btn-danger" %>
                    <% end %>
                    <%= link_to "Return", articles_path, class: "btn btn-warning" %>
                </div>
                <div class="card-footer text-muted">
                    <small>
                        Created <%= time_ago_in_words(@article.created_at) %> ago,
                        Last Updated <%= time_ago_in_words(@article.updated_at) %> ago
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>